
.hoot{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.img-skate-hoot{
    width: 100%;
    object-fit: cover;
    object-position: center;  
}
.video-hoot{
    width: 23rem;
}
.trucos-skates{
    display: flex;
    gap: 10rem;
    width: 80%;
    justify-content: center;
}
.truco{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}