
.outfit{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.outfit .ttl-outfit{
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkblue;
}
.outfit .ttl-outfit h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
