
.setup{
    width: 100%;
    height: auto;
}
.ttl-setup{
    width: 100%;
    height: auto;
    padding: 1rem 0;
    background-color: darkblue;
}
.ttl-setup h1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.setupSkater{
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.setup-img-f1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.setup-img-f1 .img-setup{
    width: 40rem;
    height: 40rem;
}
.setup-img-f2{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
}
.setup-img-f2 .ttl-f2-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.ttl-f2-section .imgs-f2{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

}
.ttl-f2-section .imgs-f2 .img-f2{
    width: 30rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: white;
    border-radius: 15px;
}
.ttl-f2-section .imgs-f2 .img-f2 .img-f2-img{
    width: 20rem;
}
.ttl-f2-section h2,
.ttl-f3-section h2{
    font-size: 3rem;
    color: black;
}
.setup-img-f2 .ttl-f3-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.setup-img-f2 .ttl-f3-section .imgs-f3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.setup-img-f2 .ttl-f3-section .imgs-f3 .img-f3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
@media screen and (max-width:1100px) {
    .ttl-f2-section{
        gap: 1rem;
    }
    .ttl-f2-section .imgs-f2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
