
.trucos-skates{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
}
.trucos-skates .text-skate{
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 2rem;
    background-color: darkblue;
    padding: 1rem 0;
    color: whitesmoke;
}

.trucos-skates .trucos-truk{
    width: 100%;
    height: auto;
    display: flex;
    gap: 10rem;
    flex-wrap: wrap;
    justify-content: center;
}
.no-result {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: initial;
}

@media screen and (max-width:1100px) {
    .text-skate{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    /* .text-skate h1{
        display: none;
    }
    .text-skate .lupa{
        display: none;
    } */
}
