
.footer-pag{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    
}
.f-rigth{
    height: auto;
    padding: 1rem 0;
    text-align: center;
}
.f-rigth .f-img{
    width: 30rem;
}
.f-rigth p{
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.f-lefth{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 1rem;
}
.f-lefth p{
    font-size: 5rem;
}
.f-lefth .link-skate{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5rem;
}
.icon-a{
    width: 3rem;
    height: 3rem;
    color: darkorange;
}
@media screen and (max-width:1100px) {
    .footer-pag{
        width: 100%;
    }
    .footer-pag,
    .footer-pag .f-lefth,
    .footer-pag .f-lefth .link-skate,
    .footer-pag .f-rigth{
        text-align: center;
        width: 100%;
    }
    .footer-pag .f-lefth{
        width: 100%;
    }
}