:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ebeaea;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}
header{
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 1000;
}
main{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: black;
}
header, main , footer{
  overflow-x: hidden;
}

section{
  scroll-margin-top: 6rem;
}